.welcome-section {
  padding: 40px 20px;
}

.welcome-section h2 {
  color: #333; /* Warna teks umum untuk h2 */
  font-size: 1.5em; /* Ukuran font untuk h2 yang lebih kecil */
  line-height: 1.4; /* Jarak antar baris */
  margin-left: 20px; /* Menambahkan margin kiri untuk menggeser ke kanan */
}

.highlight {
  color: #ff6600; /* Warna oranye untuk PharmaFusion */
  font-weight: bold; /* Pastikan teks ini tebal */
  opacity: 0.85; /* Mengurangi ketebalan warna oranye */
  font-size: 40px; /* Ukuran font untuk PharmaFusion */
}

.bold-text {
  font-weight: bold; /* Menebalkan teks untuk Comprehensive AI, Medication Recommendation System, dan Designed for You */
  font-size: 40px; /* Ukuran font untuk teks bold lainnya */
}

.content {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.welcome-image {
  width: 200px;
  border-radius: 10px;
}

.welcome-text {
  max-width: 600px;
  padding-left: 20px; /* Menjorokkan teks ke kanan */
}

.welcome-text h3 {
  color: #333;
  font-weight: 800; /* Menebalkan teks Selamat datang */
  font-size: 36px; /* Ukuran font untuk Selamat datang */
}

.normal-text {
  font-size: 24px; /* Ukuran font untuk paragraf */
  color: #555;
  line-height: 1.5; /* Menambah jarak antar baris agar lebih mudah dibaca */

  
}
